.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

img {
    border: 5px double black;
    border-radius: 15px;
    max-width: 250px;
    height: 250px;
    background-attachment: fixed;
    background-size: cover;
    display: block;
    margin: 20px;
}
<<<<<<< HEAD
:x
body {
	background-color:#FCD7C4}
.body
	{
body 	background-color:#FCD7C4}
=======

body {
	background-color:#FCD7C4}
>>>>>>> 5b0dd7763581f26c73a5fcd4540b98acec118912

h1	{text-decoration: underline-dotted;}
