body {
    background-image: url(https://trello.com/1/cards/63ee3433dea0ddb831167cb8/attachments/63ee346a4356bfe15f505e8e/previews/63ee346b4356bfe15f505e9f/download/WhatsApp_Image_2022-10-18_at_15.04.27.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title {

}

.text {
    width: 1800px;
    margin: auto;
    background-color: rgb(230,230,230);
    padding-left: 10px;
    border: 5px double black;
    border-radius: 15px;
}